
.searchbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 20;
    background-color: silver;
}

.searchbar input {
    width: 480px;
}

.searchbar input, select {
    font-size: 40px;
    padding: 4px 16px;
    border: 2px solid black;
    margin: 16px 0px 0px 8px;
}

.space {
    height: 100px;
}

.nextpage table {
    width: 90vw;
    margin: 32px auto;
    font-size: 32px;
    text-align: center;
    table-layout: fixed;
}

.nextpage table tr td {
    border: 2px solid white;
    text-align: center;
    background-color: deepskyblue;
    color: blue;
}

.nextpage table tr td.selected {
    background-color: silver;
    color: black;
}

.nextpage table tr td:not(.selected):hover {
    background-color: gold;
}
