
.lang label {
    font-size: 36px;
    display: inline-block;
}

.lang input {
    width: 32px;
    height: 32px;
}

.settings {
    margin: 16px 0px;
}

.settings table {
    width: 100%;
}

.settings th {
    font-size: 36px;
    text-align: left;
    width: auto;
    background-color: #4CAF50;
    color: white;
}

.settings input, select {
    margin: 0px;
    font-size: 36px;
    padding: 8px 16px;
    width: 100%;
}

.action select {
    margin: 0px;
    font-size: 36px;
    padding: 8px 16px;
    width: 100%;
}

.editbar {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 90%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.1);
}

.editbar button {
    min-width: 15%;
    background-color: #4682B4;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin: 12px 12px;
    cursor: pointer;
}


