
.input {
	font-size:32px;
    width:480px;
    height:48px;
    border: 2px solid;
    padding-left: 16px;
    padding-right: 16px;
}

.display {
	font-size:32px;
	border:0px;
}

.img {
    max-width:480px;
    max-height:320px;
}

.li{
    margin: 16px 0;
}

.topright {
    position: fixed;
    top: 32px;
    right: 32px;
}

.actbtn {
    background-color: Transparent;
    border: none;
    outline: none;
    padding: 0px;
}

.entryTitle {
    font-size: 32px;
}

.entryCluster {
    max-height: 100vh;
}

.imageWrapper {
    position: relative;
}

.imageContainer {
    width: 24vh;
    height: 18vh;
    overflow: hidden;
    border: 2px solid white;
    background-color: black;
    text-align: center;
}

.imageContainer img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
}

.imageWrapper h2 {
    position: absolute;
    width: calc(100vw - 25vh);
    height: 18vh;
    left: 27vh;
    top: 0px;
    font-size: 32px;
    color: blue;
    word-wrap: break-word;
    overflow: hidden;
}

