
.input {
	font-size:32px;
    width:480px;
    height:48px;
    border: 2px solid;
    padding-left: 16px;
    padding-right: 16px;
}

.display {
	font-size:32px;
	border:0px;
}

.img {
    max-width:480px;
    max-height:320px;
}

.li{
    margin: 16px 0;
}

.topright {
    position: fixed;
    top: 32px;
    right: 32px;
}

.botright {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.botright2 {
    position: fixed;
    bottom: 200px;
    right: 32px;
}

.actbtn {
    background-color: Transparent;
    border: none;
    outline: none;
    padding: 0px;
}

#keypad {margin:auto; margin-top:8px;}

#keypad tr td {
	vertical-align:middle;
	text-align:center;
	border:1px solid #000000;
	font-size:64px;
	font-weight:bold;
	width:160px;
	height:80px;
	cursor:pointer;
	background-color:#666666;
	color:#ffffff;
}

#keypad tr td:hover {
    background-color:#999999;
    color:#FFFF00;
}

h2 {
    font-size: 32px;
}
